apiVersion: v1
data:
  BROKER_CLIENT_URL: http://my.broker.client:4001
  BROKER_TOKEN: secret-broker-token
  GITHUB_TOKEN: secret-github-com-token
  PORT: "7001"
kind: ConfigMap
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: broker-github-com-github-com-env
  name: broker-github-com-github-com-env
