apiVersion: v1
data:
  BROKER_CLIENT_URL: http://my.broker.client:4000
  BROKER_TOKEN: secret-broker-token
  GITLAB: gitlab.com
  GITLAB_TOKEN: secret-gitlab-token
  PORT: "7000"
kind: ConfigMap
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: broker-gitlab-gitlab-env
  name: broker-gitlab-gitlab-env
